<button class="button-green"><%="Create a list" %></button>
<div class="list-card">
  <span class="list-symbol"><i class="fas fa-light fa-seedling"></i></span>
  <div class="list-card-infos">
    <% @trips.each do |trip| %>

    <h2>list.name</h2>
    <p>Localisation</p>
  </div>
  <%= link_to "Delete" %>
</div>
