<div class="container">
  <%= simple_form_for [ @list ] do |f| %>
    <%= f.input :name, placeholder: 'nom de la liste' %>
    <%= f.input :location, placeholder: current_user.user_location %>
    <%= f.submit "Confirmer", class: "button-green" %>
  <% end %>
</div>
