<p class="back-icon m-3">
  <%= link_to lists_path do %>
    <i class="fas fa-arrow-circle-left"></i>
  <% end %>
</p>
<div class="container-list-show">
  <p><strong><%= "#{@list.name.upcase}" "- #{@list.location}" %></strong></p>
  <div class="container-list-card-show">
      <% @list.plant_lists.each do |plant_list| %>
          <% plant = @list.plants.where(id: plant_list.plant_id).first %>
          <%= plant.name %>
          <%= link_to "Supprimer", plant_list_path(plant_list), method: :delete %>
      <% end %>
    </ul>
  </div>
</div>
