// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

//COLORS
$color-navbar: #BACBA9;
$color-footer: #D1E5BC;
$color-bg-card: #FAFFF4;
$color-btn-nav: #EDFEDA;
$color-btn-green: #DBFCB6;
$color-med-green: #73824a;
$color-dark-green: #07390C;
