// Specific CSS for your home-page
#the-body {
  background-image: none;
}

.body-home {
  padding: 3% 12% 0;

}

.sp-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container-icons {
  display: flex;
  justify-content: space-between;
  width: 90%;
  color: $color-navbar;
  font-size: 70px;
  margin-top: 5%;
  width: 100%;
}

.map-marker-home {
  margin-bottom: 3%;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #36583a7d;
  transition: transform 0.5s;
  &:hover {
    transform: scale(1.05);
  }
}

.icons-home {
  width: 35%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-weight: bold;
  margin: 0 3%;
  &:nth-of-type(1) {
    animation: home .8s .8s both;
  }
  &:nth-of-type(2) {
    animation: home 1s 1s both;
  }
  &:nth-of-type(3) {
    animation: home 1.2s 1.2s both;
  }
}

.p-home {
  color: $color-dark-green;
  font-size: 17px;
  text-align: center;
}

.container-btn-to-search {
  display: flex;
  justify-content: center;
  margin: 3% 0 3% 0;
}

.btn-home {
  width: 27vw !important;
  padding: 10px !important;
}

.image-home{
  display: flex;
  justify-content: center;
  & img {
    width: 50%;
    margin-top: 2%;
  }
}
