.button-green-lists {
  display: flex;
  margin: auto;
  margin-top: 20px;
  justify-content: center;
  width: 27vw !important;
  padding: 10px !important;
}

.button-green-lists a {
  color: $color-dark-green !important;
  font-size: 16px;
}

.list-card {
  overflow: hidden;
  height: 100px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
  border-radius: 20px;
  margin: auto;
  margin-top: 20px;
}

.list-card i {
  width: 10%;
  object-fit: cover;
  text-align: center;
  color: $color-navbar;
  font-size: 20px;
}

.list-card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.list-card p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.list-card-infos {
  padding: 16px;
  width: 90%;
}

.list-card-infos a {
  color: $color-navbar;
}

.list-card-infos p {
  color: $color-med-green;
  font-size: 14px;
}

.del-link a {
  font-size: 11px;
  color: $color-dark-green !important;
  font-weight: bold;
  margin-right: 10px;
}
