.container-list-card-show {
  overflow: hidden;
  height: 100px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
  border-radius: 20px;
  margin: auto;
  margin-top: 20px;
}

.container-list-show {
  display: flex;
  align-items: center;
  margin: auto;
  margin: 0 8%;
& P {
  font-size: 25px;
  }
}

.show-list-title {
  margin-top: 3rem !important;
}

.content-plants {
  margin-top: 3rem !important;
}

.card-list {
  height: 18rem !important;
}
