body {
  background-image: url("imageblancop");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.general-container {
  min-height: 100vh;
}

a {
  text-decoration: none !important;
}

p, span {
  font-family: 'Maven Pro', sans-serif !important;
}

h1, h2, h3, h4, h5 {
  font-family: 'DM Serif Display', serif;
  color: #07390C;
}

h5 {
  width: 100%;
}

button {
  color: $color-dark-green !important;
}
