body {
  background-image: /*linear-gradient(rgba(0, 0, 255, 0.5),*/
  /*rgba(255, 255, 0, 0.5)),*/
  url("imageblancop");
  background-size: cover;
  background-position: center;
  height: calc(120vh - 86px);
  background-repeat: no-repeat;
}
