<div class="footer-clean">
  <footer>
      <div class="footer-all">
          <div class="row justify-content-center pt-4 pb-5">
              <div class="col-md-5 item">
                <h3>Suivez-nous</h3>
                <div class="container-brands">
                  <span class="footer-brand"><a href="#" title="instagram"><i class="fab fa-instagram"></i></a>
                </div>
                <div class="container-brands">
                  <span class="footer-brand"><a href="#" title="facebook"><i class="fab fa-facebook"></i></a>
                </div>
                <div class="container-brands">
                  <span class="footer-brand"><a href="#" title="twitter"><i class="fab fa-twitter"></i></a>
                </div>
                <div class="container-brands">
                  <span class="footer-brand"><a href="#" title="linkedin"><i class="fab fa-linkedin"></i></a>
                </div>
              </div>
              <div class="col-sm-4 col-md-3 item">
                  <h3>About</h3>
                  <ul>
                      <li><a href="#">Company</a></li>
                      <li><a href="#">Team</a></li>
                      <li><a href="#">Legacy</a></li>
                  </ul>
              </div>
              <div class="col-lg-3 item social footer-all"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a>
                  <p class="copyright">GeoGardening © 2022</p>
              </div>
          </div>
      </div>
  </footer>
</div>
