<div class="footer-all">
  <div class="container-footer">
    <div class="col-md-5 item">
      <h3>Suivez-nous</h3>
      <div class="container-brands">
        <span class="footer-brand"><a href="#" title="instagram"><i class="fab fa-instagram"></i></a>
      </div>
      <div class="container-brands">
        <span class="footer-brand"><a href="#" title="facebook"><i class="fab fa-facebook"></i></a>
      </div>
      <div class="container-brands">
        <span class="footer-brand"><a href="#" title="twitter"><i class="fab fa-twitter"></i></a>
      </div>
      <div class="container-brands">
        <span class="footer-brand"><a href="#" title="linkedin"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
    <div class="col-lg-3">
      <p class="copyright">GeoGardening © 2022</p>
    </div>
  </div>
</div>
