.container-search {
  width: 88% !important;
}

#nav-home-tab {
  border-radius: 10px 10px 0 0;
}

#nav-profile-tab {
  border-radius: 10px 10px 0 0;
}

.active {
  background-color: #bacba963 !important;
  font-weight: bold;
}

.search-btn {
  background-color: #b4d790;
  border: none;
  border-radius: 40px;
  box-shadow: 1px 6px 9px #cfd2ce;
  transition: transform 0.5s;
  &:hover {
    transform: scale(1.05);
    background-color: #a1c37f;
    box-shadow: 0px 8px 15px #b0b0b0;
    font-weight: bold;
  }
}

#nav-profile-tab:active {
  border-radius: 10px 10px 0 0;
  background-color: #d1e5bc !important;
  border-color: #bacba9 !important;
}

#plant_plant_type {
  height: 30px !important;
  border-radius: 10px;
  border: none;
  margin-right: 1%;
}

.tab-pane {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.557);

  form {
    background-color: #bacba900 !important;
    & input {
      border-radius: 10px;
      border: none;
      height: 30px;
      margin: 10px;
      &::placeholder {
        color: black;
      }
    }
  }
}

.card-text {
  font-size: 15px;
}

.nav-link {
  border: none;
}

.search-btn {
  box-shadow: 1px 1px 3px lightgrey;
}
