<div class="body-home">
  <div class="sp-container">
	  <div class="sp-content">
		  <div class="sp-globe"></div>
		  <h2 class="frame-1 fs-1">WHAT WILL BE YOUR NEXT TRIP IN SPACE?</h2>
		  <h2 class="frame-5 fs-1">
        <span>STARS,</span>
        <span>PLANETS,</span>
        <span>GALAXIES</span>
           <button class="btn-green"type="button">Mon Jardin</button>
		  </h2>
	  </div>
  </div>
  <div class="home-btn">
    <button class="glow-on-hover border border-white"type="button">FLY AWAY!</button>
  </div>
</div>
