<div class="body-home">
  <div class="sp-container">
		<h1 class="title-home">AVEC GEOGARDENING...</h1>
	  <div class="sp-content">
      <div class="container-icons">
        <div class="icons-home">
          <span class="map-marker-home"><i class="fas fa-map-marker"></i></span>
          <p class="p-home">Identifiez les plantes adaptées à votre zone géographique.</p>
        </div>
        <div class="icons-home">
          <span class="map-marker-home"><i class="fas fa-seedling"></i></i></span>
          <p class="p-home">Obtenez toutes les informations nécessaires.</p>
        </div>
        <div class="icons-home">
          <span class="map-marker-home"><i class="fas fa-list"></i></span>
          <p class="p-home">Créez vos listes personnalisées blablabla</p>
        </div>
      </div>
	  </div>
    <%= link_to plants_path do %>
      <button class="nav-link"type="button">plants</button>
    <% end %>
  </div>
</div>
