.footer-all {
  background-color: $color-footer !important;
  max-width: 100% !important;
}

.container-footer {
  display: flex;
  justify-content: center;
  padding: 2% 0 1% 0;
}

.container-brands {
  margin: 0 2%;
}

.item {
  display: flex !important;
  flex-wrap: wrap !important;
  list-style: none;
  & a {
    color: $color-dark-green;
  }
  & h3 {
    margin: 0 0 3% 0;
    width: 100%;
  }
}

.footer-brand {
  font-size: 26px;
  padding: 0 2%;
  & i {
    transition: transform 0.5s !important;
    &:hover {
      transform: scale(1.06) !important;
      opacity: .8;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: $color-dark-green;
    }
  }
}

.col-lg-3 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  & p {
    margin: 0;
    font-size: 14px;
  }
}
