.footer-all {
  background-color: $color-footer !important;
  margin-top: 2%;
}

.container-brands {
  margin: 0 2%;
}

.item {
  display: flex !important;
  flex-wrap: wrap !important;
  list-style: none;
  & a {
    color: $color-dark-green;
  }
  & h3 {
    width: 100%;
  }
}

.footer-brand {
  font-size: 26px;
  padding: 0 2%;
  & i {
    transition: transform 0.5s !important;
    &:hover {
      transform: scale(1.06) !important;
      opacity: .8;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: $color-dark-green;
    }
  }
}
