.title-password{
  margin-left: 10px;
  margin-top: 40px;
}

.inputs-password{
  margin-left: 10px;
  margin-top: 20px;
}

.actions-password{
  text-align: center;
}

.button{
  margin-left: 10px;
  margin-top: 20px;
  padding: 10px;
}

.link-password{
  margin-left: 10px;
  margin-top: 30px;
  text-align: center;
}
